.body {
    height: 50%;
    background-color: antiquewhite;
    width: auto;
}

.nav {
    background-color: aquamarine;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    justify-content: center;
    font-size: large;
    height: 50px;
    align-items: center;
}

.introduction {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 70%;
    gap: 1.5rem;
    margin: auto;
    padding-top: 25px;
}

.introduction .about {
    text-align: center;

}